# Database Variables
DB_PORT=
DATABASE_TYPE=
DATABASE_HOST=
POSTGRES_DATABASE=
POSTGRES_USER=
POSTGRES_PASSWORD=

DATABASE_URI=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DATABASE_HOST}:${DB_PORT}/${POSTGRES_DATABASE}
# npm run migration:generate -- db/migrations/InitialMigration 
# npm run migration:run
# npm run migration:revert  